

body {
  padding-left: 400px;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}


.header_container {
	float: right;
  	margin: 0 auto;
  	width: 50%;
 }

}
.aboutme_container {
  width: 650px;
  margin: 0 auto;
}

.bio-image,
.aboutme_container, 
.contact_container,
.portfolio_container,
.connecwithme_container {
  float: left; 
  margin-right: 20px;
}

.aboutme{
	width: 650px;
}

.connectwithme_container{
	width: 270px;
}

.contact_container {
  width: 650px;
  margin: 0 auto;

}