/* Styling for my basic portfolio page */

body {

    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin: auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-image: url("../images/background.png");
    width: 960px;
}

h1 {

    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    color: #0049FF;
    width: 200px;
    height: 30px;
    background: white;
}


/* My name header */

.myname {

    float: left;
    margin-bottom: 50px;
}

.namemerge {
    overflow: auto;
    margin-bottom: 0;
}


/* Links to other pages on my website */

.header_container {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #0049FF;
    width: auto;
    float: right;
}



/* Icon links to my online profiles */

.connectwithme_container {

    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
    width: 260px;
    float: right;
}


/* Main page profile pic */

.bio-image {
    float: left;
    margin: 5px;
}



/* Main page */

.aboutme_container {

    border: 1px solid black;
    background-color: lightblue;
    padding: 5px;
    width: 650px;
    float: left;
}


/* Contact me page */

.contact_container {

    border: 1px solid black;
    background-color: lightblue;
    padding: 5px;
    width: 650px;
    float: left;
}


/* Portfolio page */

.portfolio_container {

    
    border: 1px solid black;
    background-color: lightblue;
    padding: 5px;
    width: 650px;
    display: inline-block;
    
}


/* Gallery pics in the portfolio page */

.gallery1 {

    position: relative;
    width: 100%;
}

.gallery2 {

    position: relative;
    width: 100%;
}



.gallery3 {

    position: relative;
    width: 100%;
}



.gallery4 {

    position: relative;
    width: 100%;
}

.gallery5 {

    position: relative;
    width: 100%;
}

h4 {

    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 0px;

    width: 300px;
    height: 30px;
    background: white;
    margin-bottom: 20px;
}