/* Styling for my basic portfolio page */

body {

    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin: auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-image: url("../images/background.png");
    width: 960px;
}

h1 {
    
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    color: #0049FF;
}

/* My name header */
.myname {

	float:left;
	margin-bottom:50px;
}

.namemerge{
	overflow:auto;

}

/* Links to other pages on my website */


.header_container {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #0049FF;
    width: auto;
	float:right;
}


/* Icon links to my online profiles */


.connectwithme_container {
   
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
    width: 270px;
    float: right;
}

/* Main page profile pic */
.bio-image {
    float: left;
    margin: 5px;
}


/* Main page */


.aboutme_container {
    
    border: 1px solid black;
    background-color: lightblue;
    padding: 5px;
    width: 650px;
    float: left;
}

/* Contact me page */


.contact_container {
  
    border: 1px solid black;
    background-color: lightblue;
    padding: 5px;
    width: 650px;
    float: left;
}

/* Portfolio page */


.portfolio_container {
   
    display: inline-block;
    border: 1px solid black;
    background-color: lightblue;
    padding:5px;
    width: 650px;
}

/* Gallery pics in the portfolio page */


.gallery1 {
    padding: 5px;
}

.gallery2 {
    padding: 5px;
}

.gallery3 {
    padding: 5px;
}

.gallery4 {
    padding: 5px;
}

.gallery5 {
    padding: 5px;
}



.image1 {
  position : relative;
  z-index  : 1;
  width    : 300px;
  height   : 150px;
  background : white;
  margin-bottom: 5px;
}


h4 { 
    position : relative;
  z-index  : 1;
  top      : 0;
  right    : 0;
  width    : 300px;
  height   : 50px;
  background : white;
  margin-bottom: 5px;
}

